@using Microsoft.AspNet.Identity;
@model Mimry.Models.Mim

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mim</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MimSeq.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MimSeq.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @{
                string creatorName = Model.GetCreatorName(ViewBag.UserDB);
                @Html.DisplayFor(model => creatorName)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="/Mims/Mimage/@Model.MimID" style="max-width:300px; max-height:300px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaptionTop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaptionTop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaptionBottom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaptionBottom)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated && User.Identity.GetUserId().Equals(Model.Creator, StringComparison.OrdinalIgnoreCase))
    {
        if (Model.CreatedDate >= Model.MimSeq.Mims.Max(m => m.CreatedDate))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.MimID }); @:|
        }
        else
	    {
            <label>This Mim can no longer be modified as its mimry has developed.</label>
	    }
    }
    @Html.ActionLink("Back to List", "Index", "MimSeqs")
</p>
