@using Microsoft.AspNet.Identity;
@model Mimry.ViewModels.MimDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mim</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MimryTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MimryTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            <label>Image</label>
        </dt>

        <dd>
            <img class="mim-full" src="/Mims/Mimage/@Model.MimID?caption=true&mode=@Mimry.ViewModels.MimViewMode.Full" />
        </dd>

    </dl>
</div>
<p>
    @if (Model.IsOwner)
    {
        if (Model.IsEditable)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.MimID }); @:|
        }
        else
        {
            <label>This Mim can no longer be modified as its mimry has developed. |</label>
        }
    }
    @Html.ActionLink("Back to List", "Index", "MimSeqs")
</p>
