@using Microsoft.AspNet.Identity;
@model Mimry.ViewModels.MimDetails

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="form-group">
        <h2>@Model.Title</h2>
        <img class="mim-full" src="/Mims/Mimage/@Model.MimID?caption=true&mode=@Mimry.ViewModels.MimViewMode.Full" />
    </div>
    <div class="form-group" style="font-size:16px;">
        <dl>
            <dt>Belongs to</dt>
            <dd>@Model.MimryTitle</dd>
            <dt>Created on</dt>
            <dd>@Model.CreatedDate</dd>
            <dt>Last modified</dt>
            <dd>@Model.LastModifiedDate</dd>
            <dt>Creator</dt>
            <dd>@Model.Creator</dd>
        </dl>
        @if (Model.IsOwner)
        {
            if (Model.IsEditable)
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.MimID }, new { @class = "btn btn-primary" })
                @: &nbsp;
                @Html.ActionLink("Delete", "Delete", new { id = Model.MimID }, new { @class = "btn btn-danger" })
            }
            else
            {
                <p class="bg-danger">This Mim can no longer be modified as its mimry has developed.</p>
            }
        }
    </div>
</div>
