@model Mimry.Models.Mim

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.MimID)
    @Html.HiddenFor(model => model.Creator)
    <div class="container">
        <h3>Title</h3>
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title)

        <h3>Current Image</h3>
        <img class="mim-full" src="/Mims/Mimage/@Model.MimID" />

        <h3>New Image URL</h3>
        <input type="text" name="imageUrl" class="form-control" />

        <br /><br />

        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Details", "Mims", new { id = Model.MimID }, new { @class = "btn btn-default" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
