@model IEnumerable<Mimry.Models.Mim>

@{
    ViewBag.Title = "Mimries";
}

<h2>Mimries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MimSeq.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaptionTop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaptionBottom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MimSeq.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator)
        </td>
        <td>
            <img src="/Mims/Mimage/@item.MimID" style="max-width:100px; max-height:100px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaptionTop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaptionBottom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MimID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MimID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MimID })
        </td>
    </tr>
}

</table>
