@model Mimry.ViewModels.MimryContinue

@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.MimSeqID)
    
    <h3>Enter a URL:</h3>
    @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ImageUrl)
    
    <h3>Choose a title (optional):</h3>
    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Title)

    <br /><br />
    
    <input type="submit" value="Add" class="btn btn-primary" />
    <a href="@Model.ReturnUrl" class="btn btn-default">Cancel</a> 
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
