@model Mimry.ViewModels.MimryCreate

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h3>Already have an image? Enter URL here:</h3>
    @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ImageUrl)

    <h3>Choose a title for this Mimree</h3>
    @Html.TextBoxFor(model => model.MimryTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.MimryTitle)
   
    
    <h3>Choose a title for this image (optional):</h3>
    @Html.TextBoxFor(model => model.MimTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.MimTitle)

    <br /><br />
    
    <input type="submit" value="Create" class="btn btn-primary" />
    <a href="@Url.Action("Index", "MimSeqs")" class="btn btn-default">Cancel</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
