@model Mimry.ViewModels.MimryEdit

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="container-fluid">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MimSeqID)

        <div class="form-group">
            <h3>
                Enter a new title for this Mimry:
            </h3>
            <br />
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title)
            <br /><br />
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="@Model.ReturnUrl" class="btn btn-default">Cancel</a> 
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
