@model IEnumerable<Mimry.Models.MimSeq>

@{
    ViewBag.Title = "Mimries";
}

<h2>Mimries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    @foreach (var item in Model)
    {
        @:<tr>
        var sortedMims = item.Mims.OrderBy(m => m.CreatedDate);
        foreach (var mim in sortedMims)
        {
            @:<td><img src="/Mims/Mimage/@mim.MimID?caption=true" style="max-width:300px; max-height:300px;" /></td>
        }
        @:</tr>
    }
</table>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MimSeqID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MimSeqID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MimSeqID })
        </td>
    </tr>
}

</table>*@
