@model Mimry.ViewModels.MimView

@{
    var mimDetailUrl = Url.Action("Details", "Mims", new { id = Model.MimID });
    var upClass = Model.Vote > 0 ? "ml-liked" : "ml";
    var downClass = Model.Vote < 0 ? "ml-liked" : "ml";
    <div class="mim">
        <a href="@mimDetailUrl">
            <img class="img-rounded mim" src="/Mims/Mimage/@Model.MimID?caption=true" />
        </a>
        <div class="ml-pin">
            <a class="@upClass" href="#" title="Nice!" onclick="voteMim.call(this, '@Model.MimID', 1); return false;">
                <i class="fa fa-smile-o fa-2x"></i>
            </a>
            <br />
            <a class="@downClass" href="#" title="Meh" onclick="voteMim.call(this, '@Model.MimID', -1); return false;">
                <i class="fa fa-meh-o fa-2x"></i>
            </a>
        </div>
    </div>
}